@import "tailwindcss";
@import "tw-animate-css";
@source "../node_modules/streamdown/dist/index.js";

@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SFPRODISPLAYTHINITALIC.OTF") format("opentype");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SFPRODISPLAYULTRALIGHTITALIC.OTF") format("opentype");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SFPRODISPLAYLIGHTITALIC.OTF") format("opentype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SFPRODISPLAYMEDIUM.OTF") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SFPRODISPLAYSEMIBOLDITALIC.OTF") format("opentype");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SFPRODISPLAYHEAVYITALIC.OTF") format("opentype");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SFPRODISPLAYBLACKITALIC.OTF") format("opentype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
    background: transparent !important;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}

:root {
    --background: #ffffff;
    --foreground: #0a0a0a;
    --card: #ffffff;
    --card-foreground: #0a0a0a;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;
    --primary: #737373;
    --primary-foreground: #fafafa;
    --secondary: #f5f5f5;
    --secondary-foreground: #171717;
    --muted: #f5f5f5;
    --muted-foreground: #717171;
    --accent: #f5f5f5;
    --accent-foreground: #171717;
    --destructive: #e7000b;
    --destructive-foreground: #f5f5f5;
    --border: #e5e5e5;
    --input: #e5e5e5;
    --ring: #a1a1a1;
    --chart-1: #737373;
    --chart-2: #737373;
    --chart-3: #737373;
    --chart-4: #737373;
    --chart-5: #737373;
    --sidebar: #fafafa;
    --sidebar-foreground: #0a0a0a;
    --sidebar-primary: #171717;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #f5f5f5;
    --sidebar-accent-foreground: #171717;
    --sidebar-border: #e5e5e5;
    --sidebar-ring: #a1a1a1;
    --font-sans:
        "SF Pro Display", ui-sans-serif, system-ui, -apple-system, Segoe UI,
        Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: monospace;
    --radius: 0.5rem;
    --shadow-x: 0px;
    --shadow-y: 1px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 0;
    --shadow-color: hsl(0 0% 0%);
    --shadow-2xs: 0px 1px 0px 0px hsl(0 0% 0% / 0);
    --shadow-xs: 0px 1px 0px 0px hsl(0 0% 0% / 0);
    --shadow-sm:
        0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
    --shadow:
        0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
    --shadow-md:
        0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 2px 4px -1px hsl(0 0% 0% / 0);
    --shadow-lg:
        0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 4px 6px -1px hsl(0 0% 0% / 0);
    --shadow-xl:
        0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 8px 10px -1px hsl(0 0% 0% / 0);
    --shadow-2xl: 0px 1px 0px 0px hsl(0 0% 0% / 0);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

.dark {
    --background: #111111;
    --foreground: #eeeeee;
    --card: #191919;
    --card-foreground: #eeeeee;
    --popover: #191919;
    --popover-foreground: #eeeeee;
    --primary: #3377ff;
    --primary-foreground: #171717;
    --secondary: #262626;
    --secondary-foreground: #3377ff;
    --muted: #222222;
    --muted-foreground: #b4b4b4;
    --accent: #2a2a2a;
    --accent-foreground: #eeeeee;
    --destructive: #fb2c36;
    --destructive-foreground: #ffffff;
    --border: #282828;
    --input: #343434;
    --ring: #737373;
    --chart-1: #91c5ff;
    --chart-2: #3a81f6;
    --chart-3: #2563ef;
    --chart-4: #1a4eda;
    --chart-5: #1f3fad;
    --sidebar: #18181b;
    --sidebar-foreground: #fafafa;
    --sidebar-primary: #1d4ed8;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #27272a;
    --sidebar-accent-foreground: #f4f4f5;
    --sidebar-border: #27272a;
    --sidebar-ring: #d4d4d8;
    --font-sans:
        "SF Pro Display", ui-sans-serif, system-ui, -apple-system, Segoe UI,
        Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: monospace;
    --radius: 0.5rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        background: transparent !important;
        color: var(--foreground);
    }

    #root {
        background: transparent !important;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgb(from var(--muted-foreground) r g b / 0.2) transparent !important;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent !important;
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
    background: rgb(from var(--muted-foreground) r g b / 0.2) !important;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

*::-webkit-scrollbar-thumb:hover {
    background: rgb(from var(--muted-foreground) r g b / 0.3) !important;
}

*::-webkit-scrollbar-corner {
    background: transparent !important;
}
